code/data/other_codes/input_files_lca/CHEBI_HETIONET_DAG.pkl
code/data/other_codes/input_files_lca/onto_labels.json
code/data/other_codes/input_files_lca/NCIT_HETIONET_DAG.pkl
code/data/other_codes/input_files_lca/graph_labels.tsv
datasets/primekg/drug_target/graph.txt
datasets/hetionet/drug_repurposing/graph.txt
